[build]
target = "xtensa-esp32-none-elf"

[target.xtensa-esp32-none-elf]
runner = "espflash flash --monitor"
rustflags = ["-C", "link-arg=-nostartfiles"]

[target.xtensa-esp32s2-none-elf]
runner = "espflash flash --monitor"
rustflags = ["-C", "link-arg=-nostartfiles"]

[target.xtensa-esp32s3-none-elf]
runner = "probe-rs run --chip esp32s3"
rustflags = ["-C", "link-arg=-nostartfiles"]

[target.riscv32imc-unknown-none-elf]
runner = "espflash flash --monitor"
rustflags = ["-C", "force-frame-pointers"]

[target.riscv32imac-unknown-none-elf]
runner = "probe-rs run --chip esp32c6"
rustflags = ["-C", "force-frame-pointers"]

[env]
ESP_LOG = "info"
DEFMT_LOG = "info"

[unstable]
build-std = ["alloc", "core"]
